<p-toast></p-toast>

<p-fluid>
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
        <div class="flex mt-[-0.5rem]">
            <div class="card flex flex-col gap-6 w-full">
                <div class="flex justify-end">
                    <p-button label="Get Predefined Roles" (click)="getPredefinedRoles()"></p-button>
                </div>
                <div class="font-semibold text-xl">Add ROle</div>

                <div class="flex flex-col md:flex-row gap-6">
                    <!-- Role Field -->
                    <div class="flex-1 flex flex-col">
                        <label for="Role" class="mb-1">Role</label>
                        <input pInputText id="Role" type="text" formControlName="role" placeholder="Enter Role Name" class="w-full" />
                        <div *ngIf="roleForm.get('role')?.invalid && roleForm.get('role')?.touched" class="text-red-500 text-sm mt-1 min-h-[1.25rem]">Role name is required.</div>
                    </div>

                    <!-- Role Description Field -->
                    <div class="flex-1 flex flex-col">
                        <label for="roleDescription" class="mb-1">Role Description</label>
                        <input pInputText id="roleDescription" type="text" formControlName="roleDescription" placeholder="Enter Role Description" class="w-full" />
                        <div *ngIf="roleForm.get('roleDescription')?.invalid && roleForm.get('roleDescription')?.touched" class="text-red-500 text-sm mt-1 min-h-[1.25rem]">Last name is required.</div>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="flex justify-center mt-4">
                    <p-button label="Submit" (click)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-fluid>

<p-table [value]="roles" showGridlines [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Role Name</th>
             <th>Role Description</th>
            <th style="width: 100px">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-role let-rowIndex="rowIndex">
        <tr>
            <td>{{ role.role }}</td>
            <td>{{ role.roleDescription }}</td>
            <td>
                <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm" (click)="deleteRole(role.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
