<p-toast></p-toast>
<p-fluid>
    <form [formGroup]="employeeForm">
        <div class="flex" style="margin-top: -0.5rem !important">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Add Employee</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="firstname2">Firstname</label>
                        <input pInputText id="firstname2" type="text" formControlName="firstname" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="lastname2">Lastname</label>
                        <input pInputText id="lastname2" type="text" formControlName="lastname" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="email">Email</label>
                        <input pInputText id="email" type="text" formControlName="email" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="phone">Phone</label>
                        <input pInputText id="phone" type="text" formControlName="phone" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="employeeRole">Employee Role</label>
                        <p-select id="employeeRole" optionLabel="role" [options]="roles" placeholder="Select One" class="w-full" formControlName="employeeRole"></p-select>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="qualification">Qualification</label>
                        <p-select id="qualification" optionLabel="name" placeholder="Select One" class="w-full" formControlName="qualification"></p-select>
                    </div>
                </div>

                <div class="flex flex-wrap">
                    <label for="address">Address</label>
                    <textarea pTextarea id="address" rows="3" formControlName="address"></textarea>
                </div>

                <app-country-district-city-form [countries]="countries" [formGroup]="employeeForm" [countryControlName]="'country'" [stateControlName]="'state'" [districtControlName]="'district'" [cityControlName]="'city'" [zipControlName]="'zip'">
                </app-country-district-city-form>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex col-md-4 flex-column gap-2">
                        <label class="font-semibold">State Permission</label>
                        <div class="flex align-items-center">
                            <p-checkbox name="stateView" [binary]="true" formControlName="stateView" id="stateView" (onChange)="onStateViewChange($event)"></p-checkbox>
                            <label for="stateView" class="ml-2">View</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-checkbox name="stateEdit" [binary]="true" formControlName="stateEdit" id="stateEdit" (onChange)="onStateEditChange($event)"></p-checkbox>
                            <label for="stateEdit" class="ml-2">Edit</label>
                        </div>
                    </div>
                    <div class="flex col-md-4 flex-column gap-2">
                        <label class="font-semibold">Area Access</label>
                        <div class="flex align-items-center">
                            <p-checkbox name="areaView" [binary]="true" formControlName="areaView" id="areaView" (onChange)="onAreaViewChange($event)"></p-checkbox>
                            <label for="areaView" class="ml-2">View</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-checkbox name="areaEdit" [binary]="true" formControlName="areaEdit" id="areaEdit" (onChange)="onAreaEditChange($event)"></p-checkbox>
                            <label for="areaEdit" class="ml-2">Edit</label>
                        </div>
                    </div>

                    <div class="flex col-md-4 flex-column gap-2">
                        <label class="font-semibold">City Permission</label>
                        <div class="flex align-items-center">
                            <p-checkbox name="cityView" [binary]="true" formControlName="cityView" id="cityView"></p-checkbox>
                            <label for="cityView" class="ml-2">View</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-checkbox name="cityEdit" [binary]="true" formControlName="cityEdit" id="cityEdit"></p-checkbox>
                            <label for="cityEdit" class="ml-2">Edit</label>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="country">Resume</label>
                        <input pInputText id="resume" type="text" formControlName="resume" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="profilePic">Upload Profile Pic</label>
                        <p-select id="profilePic" optionLabel="name" placeholder="Select One" formControlName="profilePic" class="w-full"></p-select>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-6 justify-center">
                    <p-button label="Submit" [disabled]="!employeeForm.valid" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-fluid>
