<p-toast></p-toast>
<p-fluid>
    <form [formGroup]="employeeForm">
        <div class="flex" style="margin-top: -0.5rem !important">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">Add Employee</div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="firstname2">FirstName</label>
                        <input pInputText id="firstname2" type="text" formControlName="firstName" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="lastname2">LastName</label>
                        <input pInputText id="lastname2" type="text" formControlName="lastName" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="email">Email</label>
                        <input pInputText id="email" type="text" formControlName="email" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="phone">Phone</label>
                        <input pInputText id="phone" type="text" formControlName="phone" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="qualification">Qualification</label>
                        <input pInputText id="qualification" type="text" formControlName="qualification" />
                    </div>

                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="address">Address</label>
                        <textarea rows="2" cols="30" pTextarea formControlName="address"></textarea>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="employeeRole">Employee Role</label>
                        <p-select id="employeeRole" optionLabel="role" [options]="roles" placeholder="Select One" class="w-full" formControlName="role"></p-select>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <app-division [formGroup]="employeeForm" (onChange)="onDivisionChange($event)" [divisionName]="'division'" style="display: contents"> </app-division>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="experience">No of Years of Experience</label>
                        <input pInputText id="experience" type="text" formControlName="experience" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full mt-5">
                        <label for="employeeRole">Resume</label>
                        <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" [auto]="true" chooseLabel="Browse" />
                        <label for="employeeRole">Profile Pic</label>
                        <p-fileupload mode="basic" name="demo[]" chooseIcon="pi pi-upload" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" [auto]="true" chooseLabel="Browse" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="password">Password</label>
                        <p-password  class="mt-2 w-full"  [feedback]="false" formControlName="password" placeholder="Enter Password" [maxlength]="10" [minlength]="5" [toggleMask]="true" />
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6 justify-center">
                    <p-button label="Submit" [disabled]="!employeeForm.valid" (onClick)="onSubmit()"></p-button>
                </div>
            </div>
        </div>
    </form>
</p-fluid>
