<p-table [value]="filteredEmployees" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
  <ng-template pTemplate="header">
    <tr>
      <th>First Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th>View Access</th>
      <th>Division</th>
      <th>Work States</th>
      <th>Work Districts</th>
      <th>Work Cities</th>
      <th>Reportee Roles</th>
      <th>Employee Type</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-emp>
    <tr>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.role?.role }}</td>
      <td>{{ emp.status || 'N/A' }}</td>
      <td>{{ emp.division?.join(', ') }}</td>
    </tr>
  </ng-template>
</p-table>
