<p-toast></p-toast>

<form [formGroup]="privilegeForm" class="mt-4">
    <div class="flex mb-2" style="margin-top: -0.5rem !important">
        <div class="flex flex-col gap-6 w-full">
            <div class="flex flex-col md:flex-row gap-6">
                <div class="flex flex-wrap gap-5 col-md-10">
                    <app-division [formGroup]="privilegeForm" [divisionName]="'division'" style="display: contents"> </app-division>
                </div>

                <div class="flex flex-col gap-1 mt-4 pt-2">
                    <button class="btn btn-success" type="button" label="Edit Privileges" [disabled]="!this.privilegeForm.get('division')?.touched" (click)="updateDivision()">Division Update</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <h6>Employee Location Details</h6>
        <div class="flex flex-wrap gap-4 mt-3">
            @for (item of locationAdminList; track item) {
                <div class="flex items-center gap-2">
                    <p-checkbox [formControlName]="item.formControlName" [binary]="true" [inputId]="item.formControlName" />
                    <label [for]="item.labelName"> {{ item.labelName }}</label>
                </div>
            }
        </div>
        <div class="flex flex-col gap-6 w-full mt-3">
            <div class="flex flex-col md:flex-row gap-6">
                <div class="flex flex-wrap gap-2 w-full">
                    <app-state *ngIf="showFlag" [formGroup]="privilegeForm" [controlName]="'state'" (onRegionChangeSateEvent)="onStateChange($event)" style="display: contents"></app-state>
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <app-district *ngIf="showFlag" [formGroup]="privilegeForm" [controlName]="'district'" (onDistrictChangeEvent)="onDistrictChange($event)" [selectedStates]="this.selectedEmployee.employees.empWorkState" style="display: contents"></app-district>
                </div>
                <div class="flex flex-wrap gap-2 w-full">
                    <app-city *ngIf="showFlag" [formGroup]="privilegeForm" (onCityChangeEvent)="onCityChange($event)" [selectedCities]="this.selectedEmployee.employees.empWorkCity" style="display: contents"></app-city>
                </div>

                <div class="flex flex-wrap gap-2">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="employeeRole">Employee Reportees</label>
                        <p-multiSelect id="employeeRole" optionLabel="role" [options]="reporteeRoles" [formControlName]="'reporteeRolesList'" placeholder="Select One" class="w-full"></p-multiSelect>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-6" style="justify-content: end">
            <button class="btn btn-success" style="width: 8rem; padding: 4px; margin: 0px; margin-top: 1rem" type="button" label="Edit Privileges" (click)="updateEmployeeLocation()" [disabled]="this.privilegeForm.invalid">Update</button>
            <button class="btn btn-danger" style="width: 8rem; padding: 4px; margin: 0px; margin-top: 1rem" type="button" label="Edit Privileges" (click)="close()">Close</button>
        </div>
    </div>
</form>
<!-- @if (hasAnyInvalid()) {
        <p-message severity="error" size="small" variant="simple"> At least one ingredient must be selected. </p-message>
    } -->
